{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container bg-white m-auto d-flex h-100 shadow-sm" id="app">
    <div class="row row-cols-1 m-auto rounded-4 py-3 shadow">
        <div class="col">
            <h1 class="">Login</h1>
            <hr>
        </div>
        <div class="col">
            <form action="" class="row row-cols-1 m-auto">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="username" v-model="username">
                        <label for="floatingInput">username</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" v-model="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                </div>
                <div class="col py-3">
                    <button type="submit" @click="onSubmit($event)" class="btn btn-lg btn-outline-success w-100">Login</button>
                </div>
                <div class="col">
                    <hr class="my-3">
                </div>
                <div class="col">
                    <div class="row row-cols-2 m-auto">
                        <div class="col">
                            <a href="{% url 'create-shop-page' %}" class="btn btn-sm btn-primary text-white w-100">ลงทะเบียนผู้ผลิต</a>
                        </div>
                        <div class="col">
                            <a href="" class="btn btn-sm btn-secondary text-white w-100">ลงทะเบียนผู้ซื้อ</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    const { createApp, ref } = Vue;

    const app = createApp({
        delimiters: ["[{", "}]"],
        data(){
            return {
                username:'',
                password:'',
                username_isValid:true,
                password_isValid:true,
                isValid:true
            }
        },
        mounted(){
            console.log('login page')
        },
        methods:{
            onSubmit(e){
                e.preventDefault();

                this.isValid = true

                this.username_isValid = true
                if (this.username == ''){
                    this.username_isValid = false
                    this.isValid = false
                }

                this.password_isValid = true
                if (this.password == ''){
                    this.password_isValid = false
                    this.isValid = false
                }

                if (this.isValid){
                    const form_data = new FormData();
                    form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
                    form_data.append('username', this.username);
                    form_data.append('password', this.password)

                    axios
                        .post("{% url 'login-api' %}", form_data)
                        .then((response)=>{
                            console.log(response.data['status'])
                            if (response.data['status']){
                                location.replace("/")
                            }
                            else {
                                alert(response.data['message'])
                            }
                        })
                    
                }
            }
        }
    });

    app.mount('#app')
</script>

{% endblock content %}