{% extends 'product/base.html' %}
{% block content %}
<style>
    .tableFixHead {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        overflow-y: auto;

        /* make the table scrollable if height is more than 200 px  */
        height: 500px;


        /* gives an initial height of 200px to the table */
    }

    .tableFixHead thead th {
        position: sticky;
        /* make the table heads sticky */
        top: -1px;
        /* table head will be placed from the top of the table and sticks to it */
    }

    .tableFixHead::-webkit-scrollbar {
        display: none;

    }

    table {
        border-collapse: collapse;
        /* make the table borders collapse to each other */
        width: 100%;
    }

    th,
    td {
        padding: 8px 16px;
        border: 1px solid #ccc;
    }

    th {
        background: #eee;
    }
</style>
<main class="m-3 bg-light p-1 rounded-2" id="app">
    <div class="tableFixHead">
        <table class=" ">
            <thead class="">
                <tr>
                    <th class="">#</th>
                    <th class="">Invoice No.</th>
                    <th class="">Total Price</th>
                    <th class="">Total Cost </th>
                    <th class="">Total Discount </th>
                    <th class="">Remark</th>
                    <th class="">Create Date</th>
                    <th class="">Input Data</th>


                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in invoices" :key="index">
                    <td class="text-end">[{index+1}]</td>
                    <td class="text-end">[{ item.invoice_no }]</td>
                    <td class="text-end">[{ item.total_price }]</td>
                    <td class="text-end">[{ item.total_cost }]</td>
                    <td class="text-end">[{ item.total_discount }]</td>
                    <td class="text-end">[{ item.remark }]</td>
                    <td class="text-end">[{ item.input_date }]</td>
                    <td class="text-end ">
                        <a href="" class="text-black">Input Data</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</main>
<script>
    const { createApp, ref, computed } = Vue;
    const App = createApp(
        {
            delimiters:["[{","}]"],
            data(){
                return {
                    invoices:null
                }
            },
            mounted(){
                axios
                    .get(`{% url 'get-invoice-shop' %}`)
                    .then((response)=>{
                        this.invoices = response.data
                    })

                console.log("mounted")
            }
        }
    );
    App.mount("#app")
</script>
{% endblock content %}