{% extends 'product/base.html' %}
{% load static %}

{% block content %}

<div id="app">
    <nav class="rounded-4 shadow-sm row row-cols-1 row-cols-lg-2 m-auto bg-white navbar">
        <div class="col">
            <div class="navbar-brand">
                <h1 class="fs-2">ข้อมูลสินค้า</strong>
            </div>
        </div>
        <div class="col">
            <div class=" d-flex flex-row justify-content-around align-items-center">
                <a href="{% url 'show-product-page' %}" class="p-2 rounded-2 border nav-link text-white bg-info">แสดงสินค้า</a>
                <a href="{% url 'create-product-page' %}"
                    class="p-2 rounded-2 border nav-link text-white bg-primary">เพิ่มข้อมูล</a>
                <a href="" data-bs-toggle="modal" data-bs-target="#editModal" @click="editor()"
                    :class="{ 'disabled':!on_edit }"
                    class="p-2 rounded-2 border nav-link text-white bg-warning">แก้ไขข้อมูล</a>
                <button type="button" class="p-2 rounded-2 border nav-link text-white bg-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal" :class="{ 'disabled':!on_delete }">ลบข้อมูล</button>
            </div>
        </div>
    </nav>

    <section class="bg-white">
        <div class=" px-3 py-2 rounded-4 shadow-sm mt-5">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="table-dark">
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">รหัสสินค้า</th>
                        <th scope="col">ชื่อสินค้า</th>
                        <th scope="col">ราคาต่อหน่วย</th>
                        <th scope="col">รายละเอียด</th>
                        <th scope="col">นำเข้าเมื่อ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in products">
                        <td>
                            <form action="">
                                <input type="checkbox" @change="Selection($event)" :value="index">
                            </form>
                        </td>
                        <td>[{ index + 1 }]</td>
                        <td>[{ item.product_code }]</td>
                        <td>[{ item.product_name }]</td>
                        <td>[{ item.unit_cost }]</td>
                        <td>[{ item.product_desc }]</td>
                        <td>[{ item.add_date }]</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
    <!-- Modals -->
    <!-- Modal trigger button -->
    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <form action="" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">แก้ไขข้อมูล สินค้า</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div action="" class="row row-cols-1 mx-auto">
                        <div class="col my-2">
                            <label for="code" class=" form-label">รหัสสินค้า</label>
                            <input type="text" v-model="edit_code" disabled id="code"
                                class="form-control form-control-lg">
                        </div>
                        <div class="col my-2">
                            <label for="name" class=" form-label">ชื่อสินค้า</label>
                            <input type="text" v-model="edit_name" id="name" class="form-control form-control-lg">
                        </div>
                        <div class="col my-2">
                            <label for="price" class=" form-label">ราคาต่อหน่วย</label>
                            <input type="number" v-model="edit_price" id="price" class="form-control form-control-lg">
                        </div>
                        <div class="col my-2">
                            <label for="desc" class=" form-label">รายละเอียด</label>
                            <input type="text" v-model="edit_desc" id="desc" class="form-control form-control-lg">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="editModalClose">Close</button>
                    <button type="submit" @click="submitEdit($event)" class="btn btn-primary">แก้ไขข้อมูล</button>
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">ลบสินค้า</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>สินค้าที่เลือกจะถูกลบ!</strong>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        id="closeModalDel">Close</button>
                    <button type="button" @click="deleteSelect()" class="btn btn-danger">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const myModal0 = new bootstrap.Modal(document.getElementById('deleteModal'));
    const myModal1 = new bootstrap.Modal(document.getElementById('editModal'))
</script>
<script>

    const { createApp, ref } = Vue;

    const app = createApp(
        {
            delimiters: ["[{", "}]"],
            data() {
                return {
                    user_id: null,
                    user_status: '',
                    products: null,
                    selected: [],


                    on_edit: false,
                    edit_id: '-',
                    edit_code: '-',
                    edit_name: '-',
                    edit_price: 0,
                    edit_desc: '-',

                    on_delete:false
                };
            },
            mounted() {
                axios
                    .get("{% url 'get-user-id' %}")
                    .then((response) => {
                        if (response.data['status']) {
                            this.user_id = response.data['uid'];
                        }
                    });

                axios
                    .get("{% url 'get-product-all' %}")
                    .then((response) => {
                        if (response.data['status']) {
                            this.products = response.data['data'];
                        }
                    });
                console.log("load successfully!");
            },
            methods: {
                deleteSelect() {

                    for (let i of this.selected) {
                        console.log(i.product_id);
                        let id = i.product_id;
                        const form_data = new FormData();
                        form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
                        form_data.append("product_code", i.product_code);
                        axios
                            .post("{% url 'delete-product-api' %}", form_data)
                            .then((response) => {
                                if (response.data['status']) {
                                    console.log("delete successfully!");
                                }
                            });
                    }

                    
                    alert("ข้อมูลถูกลบ")
                    axios
                        .get("{% url 'get-product-all' %}")
                        .then((response) => {
                            if (response.data['status']) {
                                this.products = response.data['data'];
                            }
                        });

                    document.getElementById("closeModalDel").click();
                    location.reload()
                },

                editor() {


                    this.edit_id = this.selected[0].product_id;
                    this.edit_code = this.selected[0].product_code;
                    this.edit_name = this.selected[0].product_name;
                    this.edit_price = this.selected[0].unit_cost;
                    this.edit_desc = this.selected[0].product_desc;

                },

                submitEdit(e) {
                    e.preventDefault();
                    const form_data = new FormData();
                    form_data.append("csrfmiddlewaretoken", "{{csrf_token}}");
                    form_data.append("product_id", this.edit_id);
                    form_data.append("product_name", this.edit_name);
                    form_data.append("unit_cost", this.edit_price);
                    form_data.append("product_desc", this.edit_desc);

                    axios
                        .post("{% url 'edit-product-api' %}", form_data)
                        .then((response) => {
                            if (response.data['status']) {
                                document.getElementById("editModalClose").click();
                                axios
                                    .get("{% url 'get-product-all' %}")
                                    .then((response) => {
                                        if (response.data['status']) {
                                            this.products = response.data['data'];
                                        }
                                    });
                            }
                        });

                },
                Selection(e) {
                    let index = e.target.value;
                    let value = this.products[index];
                    console.log(value);
                    if (this.selected.includes(value)) {
                        this.selected.splice(this.selected.indexOf(value), 1);
                    }
                    else {
                        this.selected.push(value);
                    }

                    if (this.selected.length == 1) {
                        this.on_edit = true;
                    }
                    else {
                        this.on_edit = false;
                    }

                    if (this.selected.length >= 1){
                        this.on_delete = true
                    }
                    else {
                        this.on_delete = false
                    }



                }
            }
        }
    );

    app.mount('#app')
</script>

{% endblock content %}