{% extends "base.html" %}
<!-- block -->
{% block content %}
<!-- content here! -->
<div class="card">

    <h5 class="card-header">All Products</h5>
    <div class="table-responsive text-nowrap">

        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Invoice ID</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Category</th>
                    <th>Product Cost</th>
                    <th>Product Price</th>
                    <th>Product Unit</th>
                    <th>Total value</th>
                    <th>Input Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data_inputs" :key="index">
                    <td>[{index + 1}]</td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>[{ item.invoice_no }]</strong>
                    </td>
                    <td>[{item.product.product_code}]</td>
                    <td>[{item.product.product_name}]</td>
                    <td>[{item.product.product_category}]</td>
                    <td>[{item.product.product_cost}]</td>
                    <td>[{item.product.product_price}]</td>
                    <td>[{item.product.product_unit}]</td>
                    <td>[{ priceFormat(item.product.product_unit * item.product.product_price) }]</td>
                    <td>[{timeFormat(item.product.add_date)}]</td>
                    <!-- <td><span class="badge bg-label-primary me-1">Active</span></td> -->
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i>
                                    Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>
                                    Delete</a>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
<!-- scripts -->
{% block script %}
<!-- script here -->
<script>
    const { createApp, ref, computed } = Vue;
    createApp(
        {
            delimiters: ["[{", "}]"],
            data() {

                return {
                    page:"shop",
                    type:"all-product",

                    invoice_data: new Array,
                    data_inputs: new Array,
                };
            },
            mounted() {
                axios(
                    {
                        method: "get",
                        url: "{% url 'get-invoice-shop' %}"
                    }
                ).then((response) => {
                    if (response.data['status']) {
                        this.invoice_data = response.data['data'];

                        for (item of this.invoice_data) {
                            for (i of item.data_input) {
                                this.data_inputs.push(i)
                            }
                        }
                    }

                });
            },
            methods:{
                timeFormat(datetime){
                    const time=new Date(datetime).toLocaleTimeString("en-US", { hour12: false })
                    const date=new Date(datetime).toLocaleDateString("en-GB")
                    return `${date} - ${time}`
                },
                priceFormat(num){
                    return num.toLocaleString('en-US');
                }
            }
        }
    ).mount('#app')
</script>
{% endblock script %}